go 1.26.0

use (
	./core
	./driver/openai
	./driver/deepseek
	./driver/azure
	./driver/anthropic
	./driver/minimax
	./driver/qwen
	./driver/kimi
	./driver/bytedance
	./examples/forge
	./backends/sandbox
	./backends/checkpoint
	./memory
	./memory/eval
)

replace github.com/GizClaw/flowcraft/driver/deepseek v0.1.0 => ./driver/deepseek

replace github.com/GizClaw/flowcraft/driver/openai v0.1.0 => ./driver/openai
